@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: 'Inconsolata', monospace; }

section {
  position: relative;
  margin: 30px 0; }

.header-column {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px; }

.section {
  padding: 40px 30px;
  border: 1px solid #aaa; }
  .section .title {
    font-weight: 600; }
    .section .title:before {
      content: '';
      width: 30px;
      border: 1px solid #aaa;
      display: flex;
      margin: 20px 0; }
  .section .icon {
    width: 70px;
    margin-bottom: 10px; }
    .section .icon:after {
      content: '';
      width: 10px;
      border: 2px solid #000; }
  .section .subsection {
    font-size: 0.9rem; }
    .section .subsection .title {
      font-weight: 600; }
      .section .subsection .title:before {
        content: '';
        width: 30px;
        border: 1px solid #aaa;
        display: flex;
        margin: 20px 0; }
    .section .subsection .icon {
      width: 40px;
      margin-bottom: 10px;
      margin-top: 20px; }
    .section .subsection .body {
      font-size: 0.9rem; }
  .section .avatar {
    width: 100%;
    margin: 0 auto; }
  .section .profile {
    margin-top: 30px; }
    .section .profile .links {
      padding-top: 10px; }
      .section .profile .links a {
        margin: 0 10px; }
        .section .profile .links a:hover {
          text-decoration: none; }
      .section .profile .links img {
        max-width: 30px; }

.textured {
  background: url(../assets/textured-stripes.png) center center;
  background-size: cover; }

.section-behind-title {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1;
  opacity: 0.1;
  z-index: -1; }
  @media screen and (max-width: 1010px) {
    .section-behind-title {
      display: none; } }

.skills-list li {
  font-size: 1.1rem;
  line-height: 1.8; }
  .skills-list li span {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 3px;
    font-size: 1rem;
    color: #aaa;
    white-space: nowrap; }

.education-timeline .item,
.work-timeline .item {
  position: relative;
  margin-bottom: 30px; }
  .education-timeline .item:before,
  .work-timeline .item:before {
    content: '';
    position: absolute;
    top: 7px;
    left: -40px;
    height: 20px;
    width: 20px;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: white; }
  .education-timeline .item .duration,
  .work-timeline .item .duration {
    position: absolute;
    right: 0;
    top: 0;
    color: #aaa;
    line-height: 1;
    margin: 0;
    opacity: 0.5; }
    @media screen and (max-width: 1190px) {
      .education-timeline .item .duration,
      .work-timeline .item .duration {
        position: relative; } }

.portfolio-section .company {
  width: 100%;
  border: 1px solid #000000;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(../assets/textured-stripes.png);
  margin-top: 30px; }
  .portfolio-section .company a {
    display: flex;
    align-items: center;
    color: #3498db; }
    .portfolio-section .company a:hover {
      text-decoration: none; }
    .portfolio-section .company a h5 {
      margin: 0;
      padding-right: 5px; }
  .portfolio-section .company img {
    height: 20px; }

/*# sourceMappingURL=main.css.map */
